[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
yfinance = "*"
tzlocal = "==2.1"
apscheduler = "*"
pyotp = "*"
uwsgi = {version = "*", sys_platform = "== 'linux'"}
pipfile = "*"
selenium = "*"
webdriver-manager = "*"
django-pwa = "*"
pyaes ="*"

[dev-packages]

[requires]
python_version = "3.9"
