{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% load pwa %}
    <head>
        {% progressive_web_app_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/Logo-180.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
        <link rel="preload" as="script" href="{% static '/scripts/jQuery-v3.6.0.js' %}">
        <link rel="preload" as="style" href="{% static '/style/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}">
    </head>

    <body>
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="notification is-{{message.tags}}">
                        <button class="delete"></button>
                        <p class="is-size-6 has-text-centered">{{ message }}</p>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="full-card">
                <h1 class="login-header is-size-2 has-text-centered">Forgot Password</h1>
                <form id="login-form" class="login-form" action="" method="post">
                    {% csrf_token %}
                    <label class="label">Please enter your email address, a password reset link will be sent if your
                        email checks out! &#128516</label>
                    <div class="field">
                        <div class="control">
                            <input id="em" name="email" class="input" type="email" placeholder="Email Address"
                                maxlength="100" onkeyup="doValidate(this)" required>
                        </div>
                    </div>
                    <div>
                        <span id="error_text" class="help has-text-danger is-hidden">Custom error message</span>
                    </div>
                    <div class="login-btn-box">
                        <input id="btnSend" class="button is-medium" type="submit" value="Send me a recovery link">
                    </div>
                    <div class="login-btn-box">
                        <a id="btnBack" class="button is-alt is-yellow" href="{% url 'login' %}">&#11013 Return to login page</a>
                    </div>
                </form>
            </div>
        </div>
        <script defer type="text/javascript" src="{% static '/scripts/jQuery-v3.6.0.js' %}"></script>
        <script defer type="text/javascript" src="{% static '/scripts/forgotPassword.js' %}"></script>
        <script defer type="text/javascript" src="{% static '/scripts/notification.js' %}"></script>
    </body>

</html>